<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>我的客户响应系统--登录</title>
	<meta name="keywords" content="客响管理系统">
    <meta name="description" content="RuoYi">
    <link href = "/css/bootstrap.min.css"  rel = "stylesheet">
    <link href = "/css/font-awesome.css" th:href = "@{css/font-awesome.css}" rel = "stylesheet">
    <link href = "/css/style.css" th:href = "@{css/style.css}" rel = "stylesheet">
    <link href = "/css/my.login.css" th:href = "@{css/my.login.css}" rel = "stylesheet">
    <link href = "/css/login.min.css" th:href = "@{css/login.min.css}" rel = "stylesheet">
    <link href = "/ajax/libs/icheck/custom.css" th:href = "@{/ajax/libs/icheck/custom.css}" rel = "stylesheet">
    <link href = "/ruoyi/css/ry-ui.min.css"  rel = "stylesheey">
    <link rel = "stylesheet" href = "/layuiadmin/layui/css/layui.css" media = "all">
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    
    
    <style type="text/css">label.error { position : inherit; }</style>
</head>
<body>
	<div class="head">
		<div style="width : 30%"></div>
		<img src="/img/31.jpg" height="100%" width = "100%"/>
		<div style="height: 10%;"></div>
	</div>	
	<div class = "main" style = "margin-right:12%;">

		<div class = "layui-row-my">
			<p class="layui-row-user-title">用户登录</p>
			<div class = "layui-col-xs3">
				<div class = "layui-row grid-demo grid-demo-bg1">
					&nbsp;
				</div>
			</div>
			<div class = "layui-col-xs3">
				<div class = "grid-demo" style = "margin-top:20%;">
					<a href = "#">
						<span style = "font-weight:bold; font-size:22px;"></span>	
					</a>
				</div>
			</div>
			<div class = "layui-col-xs6-my">
				<div class = "grid-demo">
					<form id = "signupFrom" class = "layui-form">
						<div class = "layui-form-item">
							<label class = "layui-form-label">用户名</label>
							<div class = "layui-input-inline">
								<input type = "text" name = "username" id = "username" class = "form-control uname" placeholder="用户名">
							</div>
						</div>
						<div class = "layui-form-item">
							<label class = "layui-form-label">密&nbsp;&nbsp;码</label>
							<div class = "layui-input-inline">
								<input type = "password" name = "password" id = "password" class="form-control pword m-b" placeholder="密码">
							</div>
						</div>
						<div class = "layui-form-item">
							<label class = "layui-form-label">验&nbsp;证&nbsp;码</label>
							<div class = "layui-inline">
								<div class = "layui-input-inline" style = "width:100px;">
									<input type = "text" name = "validateCode" class = "form-control code" placeholder="验证码">
								</div>
								<div class = "layui-input-inline" style = "width:120px;">
									<a href = "javascript:void(0);" title = "更换验证码">
										<img th:src="@{captcha/captchaImage(type = ${captchaType})}" class = "imgCode" width = "85%">
									</a>
								</div>
							</div>
						</div>
						<div class = "layui-form-item" style = "margin-top:-20px;">
							<label class = "layui-form-label"></label>
							<div class = "layui-inline" style = "margin-right:44%">
								<input type = "checkbox" name = "rememberMe" lay-skin = "primary" title = "记住我">
							</div>
						</div>
						<div class = "layui-form-item">
							<div class = "layui-input-block">
								<button class = "btn btn-success btn-block" style = "width:150px;" id = "btnSumbit" data-loading = "正在验证登录，请稍后...">登录</button>
							</div>	
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class = "center">
		<!-- <img src="/img/2.jpg" height = "100%" width = "120%"> -->
		<!-- <img src="/img/center-ball.png" height="100%" /> -->
		<img src="/img/center-ball.png" height = "100%">
	</div>
	<div class = "bottom" style = "margin-bottom:-2%">
		<div class = "bottom-version" style = "background-image: url(/img/52.jpg);">
			北京直真科技股份有限公司支持 版本v1.0 
		</div>
	</div>
	<script type="text/javascript" th:inline = "javascript">var ctx = [[@{/}]]; var captchaType = [[${captchaType}]];</script>
	<!-- 全局js -->
	<script src="/js/jquery.min.js" th:scr = "@{/js/jquery.min.js}"></script>
	<script src="/js/bootstrap.min.js" th:src = "@{/js/bootstrap.min.js}"></script>
	<!-- 验证插件 -->
	<script src="/ajax/libs/validates/messages_zh.min.js" ></script>
	<script src="/ajax/libs/validates/jquery.validate.min.js" th:src = "@{/ajax/libs/validates/jquery.validate.min.js}"></script>
	<script src="/ajax/libs/blockUI/jquery.blockUI.js" th:src = "@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
	<script src="/ajax/libs/icheck/icheck.min.js" th:src = "@{/ajax/libs/icheck/icheck.min.js}"></script>
	<script src="/ajax/libs/layer/layer.min.js" th:src = "@{/ajax/libs/layer/layer.min.js}"></script>
	<!-- ruoyi插件 -->
	<script src="/ruoyi/js/ry-ui.min.js" th:src = "@{/ruoyi/js/ry-ui.min.js?v=2.3.0}"></script>
	<script src="/ruoyi/login.js" th:src = "@{/ruoyi/login.js}"></script>
	<script src="/js/layui/layui.js" th:src = "@{/js/layui/layui.js}"></script>
</body>
</html>