<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>我的客户响应系统--登录</title>
	<meta name="keywords" content="客响管理系统">
    <meta name="description" content="RuoYi">
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
</head>
<body>
	<div class="head">
		<div style="height: 30%;"></div>
		<img src="/img/1.jpg" height="60%"/>
		<div style="height: 10%;"></div>
	</div>	
</body>
</html>